.input{
  width:50%;
  margin-top: 5%;
  margin-left: 20%;
  height: 35px;
}

.button{
  height: 41px;
  width: 10%;
}

.centre-align{
  text-align: center
}

ul {
  width: 10%;
  margin: auto;
}

li{
  text-align: left
}